@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

$h-text: 'Dela Gothic One', cursive;
$b-text: 'Josefin Sans', sans-serif;
$d-color: rgb(5,5,6);
$a-color-1: rgb(202,8,8);
$a-color-2-400: rgb(228,186,79);
$a-color-2-800: rgb(177,143,51);
$l-color: rgb(226,231,244);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $d-color;
}
.heading{
    font-family: $h-text;
    color: $a-color-2-400;
    font-size: 6ch;
}
.body-text{
    font-family: $b-text;
    color: $l-color;
    font-size: 3ch;
    text-decoration: none;
}

.cover-img{
    margin: 0em 6.25em 3.125em 6.25em;
}